$break-sm:			600px;
$break-md:			768px;
$break-lg:			1024px;
$break-xl:			1280px;

$font-default:	18px;
$font-mobile:	22px;

$font-header:		'';
$font-content:		'';

// BASE COLORS
$white:			#dadfe3;
$yellow:			#e2dc83;
$brown:			#a77861;
$lt-blue:		#536c7e;
$dk-blue:		#1c323d;

// GREY SHADES
$lt-grey:		#ccc;
$md-grey: 		#666;
$dk-grey:		#444;

// FONTS
$font-1:			Montserrat;
$font-2:			Dosis;
$font-script:	Annie Use Your Telescope;